[submodule "student-portal"]
	path = student-portal
	url = https://github.com/wessleynyakaz/student-portal.git
[submodule "teacher-portal"]
	path = teacher-portal
	url = https://github.com/wessleynyakaz/teacher-portal.git
[submodule "accounts-portal"]
	path = accounts-portal
	url = https://github.com/wessleynyakaz/accounts-portal.git
[submodule "admin-portal"]
	path = admin-portal
	url = https://github.com/wessleynyakaz/admin-portal.git
[submodule "file_server"]
	path = file_server
	url = https://github.com/wessleynyakaz/file_server.git
