[submodule "student-portal"]
	path = student-portal
	url = https://github.com/wessleynyakaz/student-portal.git
[submodule "teacher-portal"]
	path = teacher-portal
	url = https://github.com/wessleynyakaz/teacher-portal.git
[submodule "accounts-portal"]
	path = accounts-portal
	url = https://github.com/wessleynyakaz/accounts-portal.git
